.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.navbar {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#f8f8f8));
  background-image: -webkit-linear-gradient(top,#fff,0%,#f8f8f8,100%);
  background-image: -moz-linear-gradient(top,#fff 0,#f8f8f8 100%);
  background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff8f8f8',GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}