.header-section {
  font-size: 12px;
  .top-bar {
    height: 45px;
    background: rgb(82, 93, 98);
    background: -moz-linear-gradient(top, rgba(82, 93, 98, 1) 0%, rgba(90, 99, 106, 1) 7%, rgba(93, 100, 107, 1) 16%, rgba(73, 82, 87, 1) 44%, rgba(69, 78, 83, 1) 49%, rgba(63, 73, 78, 1) 51%, rgba(59, 67, 72, 1) 67%, rgba(65, 69, 75, 1) 81%, rgba(62, 68, 73, 1) 88%, rgba(55, 60, 64, 1) 95%, rgba(47, 52, 57, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(82, 93, 98, 1)), color-stop(7%, rgba(90, 99, 106, 1)), color-stop(16%, rgba(93, 100, 107, 1)), color-stop(44%, rgba(73, 82, 87, 1)), color-stop(49%, rgba(69, 78, 83, 1)), color-stop(51%, rgba(63, 73, 78, 1)), color-stop(67%, rgba(59, 67, 72, 1)), color-stop(81%, rgba(65, 69, 75, 1)), color-stop(88%, rgba(62, 68, 73, 1)), color-stop(95%, rgba(55, 60, 64, 1)), color-stop(100%, rgba(47, 52, 57, 1)));
    background: -webkit-linear-gradient(top, rgba(82, 93, 98, 1) 0%, rgba(90, 99, 106, 1) 7%, rgba(93, 100, 107, 1) 16%, rgba(73, 82, 87, 1) 44%, rgba(69, 78, 83, 1) 49%, rgba(63, 73, 78, 1) 51%, rgba(59, 67, 72, 1) 67%, rgba(65, 69, 75, 1) 81%, rgba(62, 68, 73, 1) 88%, rgba(55, 60, 64, 1) 95%, rgba(47, 52, 57, 1) 100%);
    background: -o-linear-gradient(top, rgba(82, 93, 98, 1) 0%, rgba(90, 99, 106, 1) 7%, rgba(93, 100, 107, 1) 16%, rgba(73, 82, 87, 1) 44%, rgba(69, 78, 83, 1) 49%, rgba(63, 73, 78, 1) 51%, rgba(59, 67, 72, 1) 67%, rgba(65, 69, 75, 1) 81%, rgba(62, 68, 73, 1) 88%, rgba(55, 60, 64, 1) 95%, rgba(47, 52, 57, 1) 100%);
    background: -ms-linear-gradient(top, rgba(82, 93, 98, 1) 0%, rgba(90, 99, 106, 1) 7%, rgba(93, 100, 107, 1) 16%, rgba(73, 82, 87, 1) 44%, rgba(69, 78, 83, 1) 49%, rgba(63, 73, 78, 1) 51%, rgba(59, 67, 72, 1) 67%, rgba(65, 69, 75, 1) 81%, rgba(62, 68, 73, 1) 88%, rgba(55, 60, 64, 1) 95%, rgba(47, 52, 57, 1) 100%);
    background: linear-gradient(to bottom, rgba(82, 93, 98, 1) 0%, rgba(90, 99, 106, 1) 7%, rgba(93, 100, 107, 1) 16%, rgba(73, 82, 87, 1) 44%, rgba(69, 78, 83, 1) 49%, rgba(63, 73, 78, 1) 51%, rgba(59, 67, 72, 1) 67%, rgba(65, 69, 75, 1) 81%, rgba(62, 68, 73, 1) 88%, rgba(55, 60, 64, 1) 95%, rgba(47, 52, 57, 1) 100%);
    overflow: hidden;
    .nav {
      position: relative;
      left: 0;
      display: block;
      float: left;
      margin: 0 10px 0 0;

      li {
        float: left;
        &:after {
          background: #000;
          border: 1px solid #70787c;
          border-bottom: 0 none;
          content: "";
          display: block;
          height: 44px;
          float: left;
          margin: 0 -1.5px;
          opacity: 0.25;
          filter: alpha(opacity=25);
          width: 1px;
        }
        a {
          background-color: transparent;
          padding: 15px 25px;
          position: relative;
          display: block;
          float: left;
          text-shadow: none;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          color: #d3dae0;
          text-decoration: none;
          &:hover {
            -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, .75);
            -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, .75);
            box-shadow: inset 0 2px 5px rgba(0, 0, 0, .75);
            background-image: -webkit-linear-gradient(bottom, #474c51, #252a2d);
            background-image: -moz-linear-gradient(bottom, #474c51, #252a2d);
            background-image: -o-linear-gradient(bottom, #474c51, #252a2d);
            background-image: -ms-linear-gradient(bottom, #474c51, #252a2d);
            background-image: linear-gradient(to top, #474c51, #252a2d);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
    }
    .cart-btn {
      a {
        background: rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(0, 0, 0, 0.15);
        color: #d3dae0;
        display: block;
        font-weight: bold;
        outline: none;
        padding: 15px 25px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        text-decoration: none;
        &:hover {
          -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, .75);
          -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, .75);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, .75);
          background-image: -webkit-linear-gradient(bottom, #474c51, #252a2d);
          background-image: -moz-linear-gradient(bottom, #474c51, #252a2d);
          background-image: -o-linear-gradient(bottom, #474c51, #252a2d);
          background-image: -ms-linear-gradient(bottom, #474c51, #252a2d);
          background-image: linear-gradient(to top, #474c51, #252a2d);
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
      }
      .cart-total {
        color: #fff;
      }

    }

  }

  .search-panel {
    .logo {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    border-bottom: 1px solid #d8dee3;
    padding: 19px 0 30px 0;
    .contact-info {
      margin-top: 20px;
    }
    .search-bar {
      border: 3px solid #f2f4f5;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      margin-top: 20px;
      border-radius: 18px;
      position: relative;
      input[type="text"] {
        border: 1px solid #b5c0c9;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        color: #444;
        font-size: 11px;
        height: 32px;
        margin: 0;
        padding: 0 35px 0 12px;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      input[type="submit"] {
        background-color: #f4f6f7;
        background-image: url("../images/bg-search.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border: 0 none;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        border-radius: 13px;
        height: 26px;
        position: absolute;
        right: 3px;
        text-indent: -9999px;
        top: 3px;
        width: 26px;
      }
    }

  }
}

