@import "./header.less";
@import "./core.less";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
  line-height: 22px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  li {
    display: inline-block;
  }
}

i.fa {
  margin-right: 5px;
}

.side-menu {
  border-right: 1px solid #e7e7e7;
  margin-left: -15px;
  ul {
    li {
      display: block;
    }
  }
}