<div class="row">
	<div class="col-md-6 col-md-offset-3">
		Welcome. You can <a href="#">login</a> or <a href="#">create an account.</a>
	</div>
	<div class="col-md-3">
		<ul>
			<li><a href="#">My account</a></li>
			<li><a href="#">Checkout</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="logo">
			<img src="assets/images/logo.png">
		</div>
	</div>
	<div class="col-md-6">

		<form class="search-bar">
			<input type="text" data-search-input/>
			<input type="submit" data-search-submit/>
		</form>
	</div>
	<div class="col-md-3 contact-info">
		<div>Call us: <span data-contact-phone></span></div>
		<a href="/contactUs"><i class="fa fa-phone"></i>Contact us</a>
	</div>
</div>

